{% include 'admin1\Navbar.html' %}

<style type="text/css">
@media(max-width:667px){
    .form{
        margin-left:10px !important;
        width: 95%;
        margin:20px
        
    }
}


</style>
<div class="container">
    <div class="row">
        <form action="/admin1/save_login/" method="post" style="margin-top:200px;margin-left:350px;box-shadow:0px 0px 3px 0px rgb(225, 81, 9);padding:20px;padding-bottom:70px;border-radius:20px" class="form">
            <h4 class="text-center text-danger" style="font-weight:normal">Login Account</h4>

            {% csrf_token %}

                

            <div class="row">
                <div class="col-md-6 text-danger" style="margin-top:20px">
                    Enter Your Email :<br>
                    <input type="email" placeholder="Enter email" name="admin_email" class="form-control" required>
                </div>

                <div class="col-md-6 text-danger" style="margin-top:20px">
                    Enter Your Password:<br>
                    <input type="password" placeholder="Enter password" name="admin_password" class="form-control" required>
                </div>
            </div>

            <div class="col-md-12 text-center">
                <button class="btn btn-danger text-white rounded" style="margin-top:30px"><ion-icon name="person" class="text-white" style="margin-right:10px;margin-top:4px;font-size:15px"></ion-icon>Login Here</button>
            </div>

        </form>

    </div>
</div>
{% include 'admin1\Footer.html' %}
